/*
Theme Name:  Hotsite GS Comunicação
Theme URI: http://www.cafeazul.com.br
Description: Tema desenvolvido para Hotsite GS Comunicação.
Version: 1.0
Author: Café Azul
Author URL: http://www.cafeazul.com.br
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
body {
	background: url("img/bg-2.jpg") no-repeat center top ;
    color: #777777;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-color: #EEECEC;
}
p{
	line-height:17pt;
    margin-bottom: 15px;
}
a{
    color: #666666;
}
#site {
	margin:0 auto;
    width: 980px;
    z-index: -999;
}
img{
	border:0;
}
h1{
	margin:0;
	padding:0;
}
h2{
	margin:0;
	padding:0;
}
h3{
	margin:0;
	padding:0;
}

.clear{
	clear: both;
}
/*Top*/
#top {
    float: left;
    height: 85px;
    width: 980px;
    margin-top: 20px;
}
#logo{
	float: right;
    height: 103px;
    position: relative;
    width: 109px;
    z-index: 999999;
}
#logo a{
	background: url("img/logo-2.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    cursor: default;
    display: block;
    height: 103px;
	width: 109px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    cursor: pointer;
    z-index: 888;
}
#five{
	float: left;
}

/*Content*/
#content {
    height: 550px;
    position: relative;
    z-index: 896;
}
#content #threehundredandsixty {
    background: url("img/360.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    height: 427px;
    left: -235px;
    outline: medium none;
    position: absolute;
    text-decoration: none;
    text-indent: -1000em;
    top: 140px;
    width: 845px;
    z-index: -999;
}

#content #nav {
    float: right;
    margin-right: 69px;
    margin-top: 150px;
    z-index: 999;
}
#content #nav ul{
	margin: 0;
	padding: 0;
}
#content #nav ul li {
    background: none repeat scroll 0 0 #808285;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 53px;
    list-style: none outside none;
    margin-right: 20px;
}
#content #nav ul li:last-child{
	margin-right: 0px;
}
#content #nav ul li#solucoes a{
    background: url("img/home-solucoes.jpg") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 151px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 220px;
}
#content #nav ul li#servicos a{
    background: url("img/home-servicoes.jpg") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 151px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 220px;
}




.page {
    height: 590px !important;
}
.page #right #box a#close-back{
    bottom: 110px;
}
#download {
    position: absolute;
    right: 0;
    top: -50px;
}
#download a {
	text-decoration: none;
	font-size: 13px;
}
#download a img {
    margin-bottom: -15px;
}




a#go-home{
    color: #767676;
    float: right;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    width: 130px;
}

#content .title-page {
    border-right: 2px solid #777777;
    float: right;
    font-size: 20px;
    height: 35px;
    margin-right: 120px;
    margin-top: -75px;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}




/*Footer
#footer{
	float: left;
	height: 50px;
	width: 1000px;
	margin-bottom: 10px;
}
#footer p#left{
	float: left;
	text-align: left;
}
#footer p#left span{
	font-size: 30px;
}
#footer p#left a{
	text-decoration: none;
}
#footer p#left a:hover{
	text-decoration: underline;
}

#footer p#right{
	float: right;
	text-align: right;
}
#footer p#right address{
}*/

#footer{
    color: #7F8185;
    float: left;
    margin-bottom: 0;
    margin-top: -30px;
    position: relative;
    width: 980px;
    z-index: 999;
}
#footer #footer-left{
    display: block;
    float: left;
    margin-top: 9px;
    text-align: left;
    width: 500px;
}
#footer #footer-left p{
    font-size: 13px;
    margin-top: 32px;
    text-align: left;
}

#footer #footer-rigth{
    display: block;
    float: right;
    width: 440px;
    text-align: right;
}
#footer #footer-rigth p{
   float: right;
    font-size: 11px;
    margin-top: 19px;
    text-align: right;
    width: 400px;
}
#footer-rigth ul{
    float: right;
    width: 360px;
}
#footer-rigth ul li{
    float: right;
    width: 33px;
}

#footer #footer-rigth a#link-fb{
    background: url("img/footer-icon-fb.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 24px;
}
#footer #footer-rigth a#link-rss{
    background: url("img/footer-icon-rss.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 24px;
    margin-right: 55px;
}
#footer #footer-rigth a#link-yt{
    background: url("img/footer-icon-yt.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 24px;

}
#footer #footer-rigth a#link-fb:hover{
    background: url("img/footer-icon-fb-hover.png") no-repeat scroll 0 0 transparent;
}
#footer #footer-rigth a#link-rss:hover{
    background: url("img/footer-icon-rss-hover.png") no-repeat scroll 0 0 transparent;
}
#footer #footer-rigth a#link-yt:hover{
    background: url("img/footer-icon-yt-hover.png") no-repeat scroll 0 0 transparent;
}






/*Conteudo*/
#content .conteudo {
    float: right;
    width: 557px;
    font-size: 13px;
    font-weight: bold;
    z-index: 500;
}

#content .conteudo img#stand {
    margin-left: 100px;
    margin-top: 100px;
    z-index: 789;
}

#content .box {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: 340px;
    margin-top: 30px;
    padding: 20px;
    width: 517px;
}
a#fechar {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 35px;
    display: block;
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 524px;
}
a#voltar {
    bottom: 0px;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 524px;
}




.servicos{
	border-right: 10px solid #F16623;
}



#right {
    float: right;
    margin-left: 15px;
    margin-top: 40px;
    width: 518px;
}
#right #page-top{
    background: url("img/page-top.png") no-repeat scroll 0 0 transparent;
    height: 76px;
    width: 442px;
}
#right #page-top h2{
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 21px;
    padding: 15px;
    text-transform: uppercase;
}
#right #box {
    background-color: #E1E1E1;
    max-height: 242px;
    min-height: 242px;
    padding: 15px;
    width: 412px;
}
#right #box #box-conteudo{
    height: 220px;
    overflow: auto;
}
#right #box a#close-back{
    bottom: 70px;
    color: #FF9500;
    display: block;
    font-size: 13px;
    position: absolute;
    right: 90px;
    text-decoration: none;
}

#right img#img-servicos{
    float: left;
    margin-top: 15px;
    width: 442px;
}
#right ul#ul-servicos{
    float: left;
    margin-top: 10px;
    width: 450px;
}
#right ul#ul-servicos li{
    

    background: none repeat scroll 0 0 #7F8185;
    height: 49px;
    width: 103px;
    margin-bottom: 5px;
    margin-right: 9px;
    vertical-align: middle;
    display: table-cell;
}
#right ul#ul-servicos li a{
    color: #FFFFFF;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}
.fix-servicos-ul{
    float: left;
    margin-bottom: 9px;
    margin-right: 9px;
}

.eventos-servicos{
    margin-top: 110px !important;
}

#go-home-eventos{
    position: absolute;
    right: 0;
    top: 190px;
}
#go-home-eventos a{
    text-decoration: none;
	font-size: 14px;
}