/*
Theme Name: GS Comunicação
Theme URI: http://www.cafeazul.com.br
Description: Tema desenvolvido para GS Comunicação.
Version: 1.0
Author: Café Azul
Author URL: http://www.cafeazul.com.br
*/
@font-face {
    font-family: 'francophilsansregular';
    src: url('fonts/francophilsans-webfont.eot');
    src: url('fonts/francophilsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/francophilsans-webfont.woff') format('woff'),
         url('fonts/francophilsans-webfont.ttf') format('truetype'),
         url('fonts/francophilsans-webfont.svg#francophilsansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'francophilsansbold';
    src: url('fonts/francophilsans-bold-webfont.eot');
    src: url('fonts/francophilsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/francophilsans-bold-webfont.woff') format('woff'),
         url('fonts/francophilsans-bold-webfont.ttf') format('truetype'),
         url('fonts/francophilsans-bold-webfont.svg#francophilsansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: url("img/bg.jpg") repeat-x scroll left top ;
    color: #7F8185;
    font-family: 'francophilsansregular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-color: #EEECEC;
}







p{
	line-height:17pt
}
a{
    color: #666666;
}
#site {
	margin:0 auto;
    width: 1000px;
    z-index: -999;
}
img{
	border:0;
}
h1{
	margin:0;
	padding:0;
}
h2{
	margin:0;
	padding:0;
}
h3{
	margin:0;
	padding:0;
}

.clear{
	clear: both;
}
/*Top*/
#top {
    float: left;
    height: 85px;
    width: 1000px;
    margin-top: 20px;
}
#logo {
    float: right;
    height: 85px;
    position: relative;
    width: 89px;
    z-index: 983;
}
#logo a{
	background: url("img/logo.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    cursor: default;
    display: block;
    height: 85px;
	width: 89px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    cursor: pointer;
    z-index: 888;
}
#five{
	float: left;
}

/*Content*/
#content {
    height: 550px;
    *height: 450px;
    position: relative;
    z-index: 796;
}
#content #threehundredandsixty {
    background: url("img/360.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    height: 427px;
    left: -235px;
    outline: medium none;
    position: absolute;
    text-decoration: none;
    text-indent: -1000em;
    top: 140px;
    *top: 40px;
    width: 845px;
    z-index: -999;
}

#content #nav {
    float: right;
    margin-top: 200px;
    z-index:999;
}
#content #nav ul{
	margin: 0;
	padding: 0;
}
#content #nav ul li {
    background: none repeat scroll 0 0 #808285;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 56px;
    list-style: none outside none;
    margin-right: 20px;
}
#content #nav ul li:last-child{
	margin-right: 0px;
}
#content #nav ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #E5E4E5;
    border-radius: 4px 4px 4px 4px;
    color: #7F8185;
    display: block;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Century Gothic";
    font-weight: normal;
}

#content #download {
    bottom: 30px;
    position: absolute;
    right: 0;
}
#content #download a {
	text-decoration: none;
	font-size: 13px;
}
#content #download a img {
    margin-bottom: -15px;
}
#content .title-page {
    border-right: 2px solid #777777;
    float: right;
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: 100;
    height: 35px;
    letter-spacing: 2px;
    margin-right: 120px;
    margin-top: -75px;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}




/*Footer*/
#footer{
	float: left;
	height: 50px;
	width: 1000px;
	margin-bottom: 10px;
}
#footer p#left{
	float: left;
	text-align: left;
}
#footer p#left span{
	font-size: 30px;
}
#footer p#left a{
	text-decoration: none;
}
#footer p#left a:hover{
	text-decoration: underline;
}

#footer p#right {
    float: right;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
}
#footer p#right address{
}






/*Conteudo*/
#content .conteudo {
    float: right;
    width: 557px;
    font-size: 13px;
    font-weight: normal;
    z-index: 500;
    *margin-left: 450px;
}
#content .conteudo ul li{
    margin-bottom: 10px;
}

#content .conteudo img#stand {
    margin-left: 100px;
    margin-top: 100px;
    z-index: 789;
}

#content .box {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: 340px;
    margin-top: 30px;
    padding: 20px;
    position: static;
    right: 0;
    width: 517px;
    overflow:auto;
}
a#fechar {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 35px;
    *bottom: 40px;
    display: block;
    height: 20px;
    position: absolute;
    right: 30px;
    text-align: right;
    width: 520px;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
}
a#voltar {
    bottom: 0px;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 66px;
    right: 0;
    letter-spacing: 2px;
}

#content .box object{
    margin-left: 40px;
}


.servicos, .montagem, .gerenciamento, .comunicacao-visual{
	border-right: 10px solid #F16623;
}
.servicos a#fechar, .montagem a#fechar, .gerenciamento a#fechar, .comunicacao-visual a#fechar{
    color: #F16623;
}



.equipe{
    border-right: 10px solid #F88D21;
}
.equipe a#fechar{
    color: #F88D21;
}

.interatividade{
    border-right: 10px solid #FBAD25;
}
.interatividade a#fechar{
    color: #FBAD25;
}



.brindes, .buffet, .equipamentos{
    border-right: 10px solid #FFCD04;
}
.brindes a#fechar, .buffet a#fechar, .equipamentos a#fechar{
    color: #FFCD04;
}






.solucoes{
    border-right: 10px solid #F16623;
}
.solucoes a#fechar, .clientes a#fechar, .cases a#fechar{
    display: none;
}

.clientes {
    background: none repeat scroll 0 0 transparent !important;
}



.cases-list{
    border-bottom: 1px solid #666666;
}
a.cases-link{
    text-decoration: none;
    font-size: 16px;
}
a.cases-link:hover{
    text-decoration: underline;
}