<?php get_header();?>

	<div id="home">
		<div id="menu">
			<ul>
				<a href="#"><li id="item-menu-1"></li></a>
				<a href="#"><li id="item-menu-2"></li></a>
				<a href="#"><li id="item-menu-3"></li></a>
				<a href="#"><li id="item-menu-4"></li></a>
				<a href="#"><li id="item-menu-5"></li></a>
			</ul>
		</div><!--menu-->

		<div id="banner">
			<div class="banner-loop">
				<a href="#"><img src="img/banner-home.jpg"></a>
				<p>GS fica responsável pela montagem e gerenciamento da loja da nova marca rede Habib’s</p>
			</div><!--banner-loop-->

		</div><!--banner-->
	</div><!--home-->

<?php get_footer();?>