<?php get_header();?>

	<div id="page">
		<div id="left">
			<img src="img/menu-imgs-360.png">
		</div><!--left-->

		<div id="right">
			<span><a href="#" id="link-home">HOME</a></span>
			<div id="box">
				<p>Visão 360º do seu evento</p>

				<p>GS cuida de todos os detalhes, da ideia inicial a sua  finalização, onde não medimos barreiras para fazer acontecer, pois somos movidos a desafios. </p>

				<p>Atuando de maneira direta  ao conceito de cada empresa, executamos projetos ímpares de forma eficaz e totalmente integrada ao seu público alvo.</p>

				<p>Entre em contato com nossa equipe e agende sua visita.</p>
			</div><!--box-->

		</div><!--right-->
	</div><!--page-->

<?php get_footer();?>