<?php get_header();?>

	<div id="page">
		<div id="left">
			<img src="img/menu-imgs-portfolio.png">
		</div><!--left-->

		<div id="right">
			<span><a href="#" id="link-home">HOME</a></span>
			<div id="box" class="portfolio">
				<a href="#"><div id="port-specialfood"><span>Special Food</span></div><!--port-specialfood--></a>
				<a href="#"><div id="port-bimbo"><span>BIMBO</span></div><!--port-bimbo--></a>
				<a href="#"><div id="port-adpix"><span>ADPIX</span></div><!--port-adpix--></a>
				<a href="#"><div id="port-sc"><span>S&C</span></div><!--port-sc--></a>
				<div class="clear"></div><!--clear-->
				<a href="#"><div id="port-royce"><span>ROYCE</span></div><!--port-royce--></a>
				<a href="#"><div id="port-trident"><span>TRIDENT</span></div><!--port-trident--></a>
				<a href="#"><div id="port-habibs"><span>HABIB'S</span></div><!--port-habbibs--></a>
				<a href="#"><div id="port-virbac"><span>VIRBAC</span></div><!--port-virbac--></a>
				<div class="clear"></div><!--clear-->
				<a href="#"><div id="port-labnews"><span>LAB NEWS</span></div><!--port-labnews--></a>
				<a href="#"><div id="port-cig"><span>CIG</span></div><!--port-cig--></a>
				<a href="#"><div id="port-hitachi"><span>HITACHI</span></div><!--port-hitach--></a>
				<a href="#"><div id="port-helsten"><span>HELSTEN</span></div><!--port-helsten--></a>
				<div class="clear"></div><!--clear-->
				<a href="#"><div id="port-def"><span>HELSTEN</span></div><!--port-def--></a>
				<a href="#"><div id="port-def"><span>HELSTEN</span></div><!--port-def--></a>
				<a href="#"><div id="port-def"><span>HELSTEN</span></div><!--port-def--></a>
				<a href="#"><div id="port-def"><span>HELSTEN</span></div><!--port-def--></a>
				<a href="#"><div id="port-def"><span>HELSTEN</span></div><!--port-def--></a>

			</div><!--box-->

		</div><!--right-->
	</div><!--page-->

<?php get_footer();?>