<?php get_header();?>

	<div id="page">
		<div id="left">
			<img src="img/menu-imgs-clientes.png">
		</div><!--left-->

		<div id="right">
			<span><a href="#" id="link-home">HOME</a></span>
			<div id="box"class="clientes">
				<ul>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
					<li><img src="img/img-1.jpg"></li>
				</ul>
			</div><!--box-->
		</div><!--right-->
	</div><!--page-->

<?php get_footer();?>