/*
Theme Name: GS Comunicação
Theme URI: http://www.cafeazul.com.br
Description: Tema desenvolvido para GS Comunicação.
Version: 1.0
Author: Café Azul
Author URL: http://www.cafeazul.com.br
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
    color: #7F8185;
    background: url("img/bg.jpg") no-repeat scroll center top #DBDBDB;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

.site{
	width: 960px;
	margin: 0 auto;
}


#header{
    height: 122px;
    margin-bottom: 24px;
    width: 960px;
}
#header #logo{
    float: left;
    height: 120px;
    margin-top: 26px;
    width: 128px;
}
#header #logo h1 a{
    background: url("img/logo.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    clear: both;
    display: block;
    height: 120px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 128px;
}
#header #header-right{
    float: right;
    margin-top: 73px;
}
#header #header-right h3{
}

#home{
    position: relative;
}

#home #menu{
    float: left;
    width: 449px;
    height: 392px;
    border-right: 3px solid #DDDDDD;
    text-align: right;
}
#home #menu ul{
    width: 436px;
    height: 388px;
}
#home #menu ul li{
    margin-bottom: 10px;
    text-align: right;
    float: right;
}
#home #menu ul li#item-menu-1{
    background: url("img/menu-imgs-360-2.png") no-repeat scroll center right transparent;
    height: 72px;
    width: 144px;

    border: medium none !important;
    clear: both;
    display: block;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
}
#home #menu ul li#item-menu-1:hover{
    background: url("img/menu-imgs-360-2-hover.png") no-repeat scroll center right transparent;
}
#home #menu ul li#item-menu-2{
    background: url("img/menu-imgs-clientes.png") no-repeat scroll center right transparent;
    height: 69px;
    width: 318px;

     border: medium none !important;
    clear: both;
    display: block;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
}
#home #menu ul li#item-menu-2:hover{
    background: url("img/menu-imgs-clientes-hover.png") no-repeat scroll center right transparent;
}
#home #menu ul li#item-menu-3{
    background: url("img/menu-imgs-eventos.png") no-repeat scroll center right transparent;
    height: 72px;
    width: 297px;

     border: medium none !important;
    clear: both;
    display: block;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
}
#home #menu ul li#item-menu-3:hover{
    background: url("img/menu-imgs-eventos-hover.png") no-repeat scroll center right transparent;
}
#home #menu ul li#item-menu-4{
    background: url("img/menu-imgs-projetos.png") no-repeat scroll center right transparent;
    height: 69px;
    width: 360px;

     border: medium none !important;
    clear: both;
    display: block;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
}
#home #menu ul li#item-menu-4:hover{
    background: url("img/menu-imgs-projetos-hover.png") no-repeat scroll center right transparent;
}
#home #menu ul li#item-menu-5{
    background: url("img/menu-imgs-contato.png") no-repeat scroll center right transparent;
    height: 69px;
    width: 308px;

     border: medium none !important;
    clear: both;
    display: block;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
}
#home #menu ul li#item-menu-5:hover{
    background: url("img/menu-imgs-contato-hover.png") no-repeat scroll center right transparent;
}

#home #banner{
    float: left;
    margin-left: 15px;
    width: 488px;
}
#home #banner .banner-loop{
}
#home #banner .banner-loop img{
}
#home #banner .banner-loop p{
    background-color: #FFFFFF;
    color: #7F8185;
    font-size: 13px;
    line-height: 12pt;
    opacity: 0.8;
    padding: 13px 13px 13px 35px;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 310px;
    width: 306px;
}

#footer{
    float: left;
    width: 960px;
    margin-top: 10px;
    color: #7F8185;
    margin-bottom: 0px;
}
#footer #footer-left{
    display: block;
    float: left;
    margin-top: 9px;
    text-align: left;
    width: 500px;
}
#footer #footer-left p{
    font-size: 13px;
    margin-top: 32px;
    text-align: left;
}

#footer #footer-rigth{
    display: block;
    float: right;
    width: 440px;
    text-align: right;
}
#footer #footer-rigth p{
   float: right;
    font-size: 11px;
    margin-top: 19px;
    text-align: right;
    width: 400px;
}
#footer-rigth ul{
    float: right;
    padding-right: 43px;
    width: 360px;
}
#footer-rigth ul li{
    float: right;
    width: 33px;
}

#footer #footer-rigth a#link-fb{
    background: url("img/footer-icon-fb.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 24px;
}
#footer #footer-rigth a#link-rss{
    background: url("img/footer-icon-rss.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 24px;
    margin-right: 55px;
}
#footer #footer-rigth a#link-yt{
    background: url("img/footer-icon-yt.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    display: block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 24px;

}
#footer #footer-rigth a#link-fb:hover{
    background: url("img/footer-icon-fb-hover.png") no-repeat scroll 0 0 transparent;
}
#footer #footer-rigth a#link-rss:hover{
    background: url("img/footer-icon-rss-hover.png") no-repeat scroll 0 0 transparent;
}
#footer #footer-rigth a#link-yt:hover{
    background: url("img/footer-icon-yt-hover.png") no-repeat scroll 0 0 transparent;
}



/*Page*/
#page{
}
#left{
    float: left;
    width: 449px;
    height: 392px;
    border-right: 3px solid #DDDDDD;
    text-align: right;
}
#left img{
    margin-right: 15px;
}
#right{
    float: left;
    margin-left: 15px;
    width: 488px;
}
#right span a#link-home{
    color: #7F8185;
    float: right;
    font-size: 14px;
    text-decoration: none;
}
#right #box{
    background-color: #FFFFFF;
    max-height: 292px;
    min-height: 292px;
    /*overflow: auto;*/
    padding: 50px;
    width: 340px;
}
#right #box p {
    font-size: 14px;
    line-height: 15pt;
    margin-bottom: 16px;
}


#right .clientes{
}
#right .clientes ul{
    float: left;
    height: 250px;
}
#right .clientes ul li{
    float: left;
    height: 56px;
    text-align: center;
    width: 107px;
}

.portfolio{
    max-height: 377px !important;
    min-height: 377px !important;
    height: 377px !important;
    padding: 0px !important;
    width: 420px !important;
}

.portfolio #port-special-food{
    width: 84px;
    height: 151px;
    background-color: #EC8A24;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.portfolio #port-bimbo{
    width: 124px;
    height: 114px;
    background-color: #EC8A24;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.portfolio #port-adpix{
    width: 83px;
    height: 149px;
    background-color: #EC8A24;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.portfolio #port-sc{
    background-color: #EC8A24;
    float: left;
    height: 124px;
    margin-bottom: 10px;
    width: 82px;
}
.portfolio #port-royce{
    background-color: #EC8A24;
    float: left;
    height: 124px;
    margin-bottom: 10px;
    margin-right: 11px;
    width: 83px;
}
.portfolio #port-trident{
    background-color: #EC8A24;
    float: left;
    height: 106px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    top: -37px;
    width: 124px;
}
.portfolio #port-habibs{
    background-color: #EC8A24;
    float: left;
    height: 124px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 83px;
}
.portfolio #port-virbac{
    background-color: #EC8A24;
    float: left;
    height: 107px;
    margin-bottom: 10px;
    margin-top: -27px;
    position: relative;
    width: 82px;
}

.portfolio #port-lab-news{
    background-color: #EC8A24;
    float: left;
    height: 82px;
    margin-bottom: 10px;
    margin-right: 11px;
    width: 83px;
}
.portfolio #port-cig{
    background-color: #EC8A24;
    float: left;
    height: 137px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: -55px;
    position: relative;
    width: 124px;
}
.portfolio #port-hitachi{
    background-color: #EC8A24;
    float: left;
    height: 82px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 83px;
}
.portfolio #port-helsten{
    background-color: #EC8A24;
    float: left;
    height: 127px;
    margin-top: -44px;
    position: relative;
    width: 82px;
}
.portfolio #port-def{
    background-color: #EC8A24;
    float: left;
    height: 82px;
    margin-bottom: 10px;
    margin-right: 11px;
    width: 89px;
}


.portfolio span{
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    height: 50px;
    text-align: center;
    width: 84px;
}





.portfolio #port-special-food span{
    margin-top: 55px;
}
.portfolio #port-bimbo span{
    margin-left: 20px;
    margin-top: 50px;
}
.portfolio #port-adpix span{
    margin-top: 60px;
}
.portfolio #port-sc span{
    margin-top: 50px;
}
.portfolio #port-royce span{
    margin-top: 50px;
}
.portfolio #port-trident span{
    margin-top: 40px;
    width: 124px;
}
.portfolio #port-habibs span{
    margin-top: 50px;
}
.portfolio #port-virbac span{
    margin-top: 40px;
}
.portfolio #port-lab-news span{
    margin-top: 25px;
}
.portfolio #port-cig span{
    margin-top: 60px;
    width: 124px;
}
.portfolio #port-hitachi span{
    margin-top: 35px;
}
.portfolio #port-helsten span{
    margin-top: 50px;
}
.portfolio #port-def span{
    margin-top: 30px;
}





.iframe{
}
#cboxTitle{
    color: #58585B !important;
    font-family: 'Roboto',sans-serif;
    font-size: 19px;
    letter-spacing: 1pt;
    margin-top: -10px !important;
}

.iframe #galeria{
    height: auto;
    text-align: center;
    width: 760px;

}
.iframe #galeria ul{
    height: 60px;
    margin: 0 auto 10px;
    overflow: hidden;
    text-align: center;
    width: 320px;
}
.iframe #galeria ul li{
    float: left;
    height: 60px;
    margin-left: 9px;
    margin-right: 8px;
    width: 87px;
}
.iframe #galeria ul li img {
}
.iframe #galeria img.img-big {
    /*width: 701px;
    height: 370px;
    width: 770px;*/
    
    width: 701px;
    height: 417px;
}
#cboxContent{
    margin-bottom: none !important;
}




#cboxCurrent{
    display: none !important;
}

#nav{
    left: 473px;
    position: absolute;
    top: 365px;
    width: 80px;
    z-index: 999;
}
#nav a{
    background: #DDDDDD;
    border: medium none !important;
    display: block;
    height: 11px;
    float: left;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 11px;
    margin-right: 3px;
}
#nav a.activeSlide{
    background: #EB8A24;
}

.wp-pagenavi{
    float: left;
    height: 16px;
    margin-top: 20px;
    padding-left: 150px;
    text-align: center;
    width: 219px;
}
.wp-pagenavi a.page{
    background: #DDDDDD;
    border: medium none !important;
    display: block;
    height: 11px;
    float: left;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 11px;
    margin-right: 3px;
    border: none;
    padding: 0;
}
.wp-pagenavi span.current{
    background: #EB8A24;
    border: medium none !important;
    display: block;
    height: 11px;
    float: left;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 11px;
    margin-right: 3px;
    border: none;
    padding: 0;
}



span#legenda{
    display: block;
    margin-top: 3px;
    margin-left: 29px;

    font-size: 14px;
    line-height: 15pt;
    text-transform: uppercase;
}
#cboxTitle, #cboxTitle, #cboxNext, #cboxPrevious{
    display: none !important;
    overflow: hidden !important;
}

/* Tiny Carousel */








#slider1 {
    height: 75px;
    margin: 0 auto;
    overflow: hidden;
    width: 537px;
}
#slider1 .viewport {
    float: left;
    height: 75px;
    overflow: hidden;
    position: relative;
    width: 427px;
}
#slider1 .buttons {
     background:url("images/buttons.png") no-repeat scroll 0 0 transparent; display: block; margin: 10px 10px 0 0; background-position: 0 -38px; text-indent: -999em; float: left; width: 39px; height: 37px; overflow: hidden; position: relative; 
}
#slider1 .next { margin: 10px 0 0 10px; background-position: top;  }
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider1 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; width: 236px;}

#slider1 .pager { overflow:hidden; list-style: none; clear: both; margin: 10px 0 0 155px; }
#slider1 .pager li {
    height: 14px !important;
    width: 14px !important;
}
#slider1 .pagenum {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none !important;
    display: block;
    float: left;
    height: 11px;
    margin-right: 3px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 11px;
}
#slider1 .active { color: #fff; background-color:  #555555; }































#slider2 {
    height: 300px;
    margin: 0 auto 0 -20px;
    overflow: hidden;
    width: 367px;
}
#slider2 .viewport {
    float: left;
    height: 275px;
    overflow: hidden;
    position: relative;
    width: 377px;
}
#slider2 .buttons {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none !important;
    display: block;
    float: left;
    height: 11px;
    margin-right: 3px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 11px;
}
#slider2 .next { margin: 10px 0 0 10px; background-position: top;  }
#slider2 .disable { visibility: hidden; }
#slider2 .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider2 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; width: 236px;}

#slider2 .pager { overflow:hidden; list-style: none; clear: both; margin: 10px 0 0 155px; }
#slider2 .pager li {
    height: 14px !important;
    width: 14px !important;
}
#slider2 .pagenum {
    background: none repeat scroll 0 0 #DDDDDD;
    border: medium none !important;
    display: block;
    float: left;
    height: 11px;
    margin-right: 3px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    width: 11px;
}
#slider2 .active { color: #fff; background-color:  #555555; }


.clear{
    clear: both;
    float: none;
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
    display:block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
a img.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float:left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    max-width: 98.5%;
    padding:0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size:11px;
    line-height:17px;
    margin:0;
    padding:0 4px 5px;
}