/*
Theme Name: Formula Brazil
Theme URI: http://www.cafeazul.com.br
Description: Tema desenvolvido para Formula Brazil.
Version: 1.0
Author: Café Azul
Author URL: http://www.cafeazul.com.br
*/
body {
	background: url("img/bg.jpg") repeat-x scroll left top ;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-color: #EEECEC;
}
p{
	line-height:17pt
}
a{
    color: #666666;
}
#site {
	margin:0 auto;
    width: 1000px;
    z-index: -999;
}
img{
	border:0;
}
h1{
	margin:0;
	padding:0;
}
h2{
	margin:0;
	padding:0;
}
h3{
	margin:0;
	padding:0;
}

.clear{
	clear: both;
}
/*Top*/
#top {
    float: left;
    height: 85px;
    width: 1000px;
    margin-top: 20px;
}
#logo{
	float: right;
	height: 85px;
	width: 89px;
}
#logo a{
	background: url("img/logo.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    cursor: default;
    display: block;
    height: 85px;
	width: 89px;
    outline: medium none;
    text-decoration: none;
    text-indent: -1000em;
    cursor: pointer;
    z-index: 888;
}
#five{
	float: left;
}

/*Content*/
#content {
    height: 550px;
    position: relative;
    z-index: 896;
}
#content #threehundredandsixty {
    background: url("img/360.png") no-repeat scroll 0 0 transparent;
    border: medium none !important;
    height: 427px;
    left: -235px;
    outline: medium none;
    position: absolute;
    text-decoration: none;
    text-indent: -1000em;
    top: 140px;
    width: 845px;
    z-index: -999;
}

#content #nav {
    float: right;
    margin-top: 200px;
    z-index:999;
}
#content #nav ul{
	margin: 0;
	padding: 0;
}
#content #nav ul li {
    background: none repeat scroll 0 0 #808285;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 53px;
    list-style: none outside none;
    margin-right: 20px;
}
#content #nav ul li:last-child{
	margin-right: 0px;
}
#content #nav ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #E5E4E5;
    border-radius: 4px 4px 4px 4px;
    color: #7F8185;
    display: block;
    font-size: 16px;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

#content #download {
    position: absolute;
    right: 0;
    top: 490px;
}
#content #download a {
	text-decoration: none;
	font-size: 13px;
}
#content #download a img {
    margin-bottom: -15px;
}
#content .title-page {
    border-right: 2px solid #777777;
    float: right;
    font-size: 20px;
    height: 35px;
    margin-right: 120px;
    margin-top: -75px;
    padding-right: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}




/*Footer*/
#footer{
	float: left;
	height: 50px;
	width: 1000px;
	margin-bottom: 10px;
}
#footer p#left{
	float: left;
	text-align: left;
}
#footer p#left span{
	font-size: 30px;
}
#footer p#left a{
	text-decoration: none;
}
#footer p#left a:hover{
	text-decoration: underline;
}

#footer p#right{
	float: right;
	text-align: right;
}
#footer p#right address{
}






/*Conteudo*/
#content .conteudo {
    float: right;
    width: 557px;
    font-size: 13px;
    font-weight: bold;
    z-index: 500;
}

#content .conteudo img#stand {
    margin-left: 100px;
    margin-top: 100px;
    z-index: 789;
}

#content .box {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: 340px;
    margin-top: 30px;
    padding: 20px;
    width: 517px;
}
a#fechar {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 35px;
    display: block;
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 524px;
}
a#voltar {
    bottom: 0px;
    display: block;
    position: absolute;
    text-align: right;
    text-decoration: none;
    width: 524px;
}




.servicos{
	border-right: 10px solid #F16623;
}